@page
@using Microsoft.Extensions.Localization
@using Grc.Localization
@model Grc.Web.Pages.ActionPlans.IndexModel
@inject IStringLocalizer<GrcResource> L

<abp-card>
    <abp-card-header>
        <h2><i class="fas fa-tasks text-success"></i> @L["Menu:ActionPlans"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ActionPlansTable">
            <thead>
                <tr>
                    <th>@L["Name"]</th>
                    <th>@L["Owner"]</th>
                    <th>@L["Progress"]</th>
                    <th>@L["DueDate"]</th>
                    <th>@L["Status"]</th>
                    <th>@L["Actions"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

